@model WebApplication1.Models.Appusuario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Appusuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodTercero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodTercero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodDependiente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodDependiente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClaUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodEstusu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodEstusu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodUsuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
